<div class="shoppingcartHBSpage">
    {{# if products }}
    <div class="row" style="background: ;">
        <div class="col-sm-6 col-md-6" style="width: 100%;background:">

            {{!-- ==================================================================== --}}

            {{# each products }}

            <div style="height: 100px;text-align:center">
                <div class="forpriceincreaser row-12 " style="height: 80px;">

                    <div class="col-sm-8" style="text-align:left">
                        <div style="font-size:xx-large;">{{ this.item.title }}</div>
                        <div class=""><i class="fa fa-inr fa-2x"></i>
                            <span style="font-size: x-large;">{{ this.price }}</span> </div>
                    </div>

                    <div class="iconofincreasecartprice col-sm-1" style="display:grid">
                        <a href="/increase/{{this.item._id}}"><i class="fa fa-plus-circle" aria-hidden="true"></i><i
                                class="fa fa-arrow-up fa-2x"></i>
                        </a>

                        <a href="/reduce/{{this.item._id}}"><i class="fa fa-minus-circle" aria-hidden="true"></i><i
                                class="fa fa-arrow-down fa-2x"></i>
                        </a>
                    </div>

                    <div class="badge col-sm-1"><i class="fa fa-cart-arrow-down fa-4x"> {{ this.qty }} </i></div>
                     <div class="col-sm-1" style="padding: 1rem;"><a href="/remove/{{this.item._id}}"> <i class="fa fa-bomb fa-2x"
                                aria-hidden="true"></i>clear_all</a>
                    </div>
                </div>
            </div>



            {{/each}}
            </ul>

            {{!-- ==================================================================== --}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <strong style="font-size: xx-large;">Total: <i class="fa fa-inr fa-2x" aria-hidden="true"></i>
                {{ totalPrice }} </strong>
        </div>
    </div>

    {{!-- ==================================================================== --}}
    <hr>
    <div class="row">
        <div style="margin-top: 2rem;" class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <a href="/checkout" type="button" class="btn btn-success">ORDER</a>
        </div>
    </div>
    {{else}}
    <div id="signupform" class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <h2>No Items in Cart</h2>
            <h5> <a href="/"> shop-more-product-here</a> </h5>
        </div>
    </div>
    {{/if}}

</div>