<div id="signupform" class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Welcome {{user}}</h1>
        <hr>
        <h2><i class="fa fa-history" aria-hidden="true"> YOUR Orders... </i></h2>
        {{# each orders }}
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="list-group">
                        {{# each this.items }}
                            <li class="list-group-item">
                                <span class="badge">{{ this.price }}</span>
                                {{ this.item.title }} | {{ this.qty }} Units
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="panel-footer">
                    <strong>Total Price : <i class="fa fa-inr fa-2x" aria-hidden="true"></i><span style="font-size: 2rem;"> {{ this.cart.totalPrice }} </span> </strong>
                </div>
            </div>
        {{/each}}
    </div>
</div>